@section scripts {
    <script src="runtime.js"></script>
    <script src="polyfills.js"></script>
    <script src="styles.js"></script>
    <script src="vendor.js"></script>
    <script src="main.js"></script>
}

    <span class="label label-info" id="data">@Json.Serialize(Model)</span>


    <table class="table">
        <thead>
            <tr>
                <th class="left">Title</th>
                <th>Price</th>
                <th class="left">Comment</th>
            </tr>
        </thead>
    </table>


<app-root></app-root>
