@section scripts {
    <script src="runtime.js"></script>
    <script src="polyfills.js"></script>
    <script src="styles.js"></script>
    <script src="vendor.js"></script>
    <script src="main.js"></script>
}

    @*<div id="data" class="label label-info" >@Json.Serialize(Model)</div>*@   

    @*<table class="table">
        <thead>
            <tr>
                <th class="left">Title</th>
                <th>Price</th>
                <th class="left">Comment</th>
            </tr>
        </thead>
    </table>*@
    <app-root></app-root>


    
