<div>Angular view component</div>

<div class="p-2">
  <table class="table table-sm">
    <tr><th colspan="2" class="bg-info">Forum</th></tr>
    <tr><th>Title</th><td>{{forum?.title}}</td></tr>
    <tr><th>Description</th><td>{{forum?.description}}</td></tr>
    <tr><th>Price</th><td>{{forum?.value}}</td></tr>
    <tr><th>Comment</th><td>{{forum?.comment}}</td></tr>
    <tr><th colspan="2" class="bg-info">Image</th></tr>
    <tr><th>Image1</th><td>{{forum?.images?.imgUrl1}}</td></tr>
    <tr><th>Image2</th><td>{{forum?.images?.imgUrl2}}</td></tr>
    <tr><th>Image3</th><td>{{forum?.images?.imgUrl3}}</td></tr>
    <tr><th>Image4</th><td>{{forum?.images?.imgUrl4}}</td></tr>
  </table>
</div>
